main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.rating span {
  margin: 0.1rem;
}

.slider {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-item {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom-img {
  transition: transform 0.5s ease;
}

.img-hover-zoom-img:hover {
  transform: scale(1.1);
}

.logo {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2em;
}
.logo-scroll {
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2em;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  transition: 0.6s;
}

.review-container {
  height: 60vh;
  overflow: scroll;
}
